<%- include('includes/head') %>

<section>
  <% if(rolou) { %>
    <div class="modal_resultado" onclick="fechaModal()" id="modal">
      <script>
        function fechaModal() {
          modal.style.display = "none"
        }
      </script>
      <div class="resultado">
        <h1>Dado de Ação: <%=d_acao%></h1>
        <h1>Dado de Desafio 1: <%=d_desafio_1%></h1>
        <h1>Dado de Desafio 2: <%=d_desafio_2%></h1>
        <h1>Resolução: <%=resolucao%></h1>
      </div>
    </div>
  <% } %>
    <form action="/jogador/<%=jogador%>/<%=dado%>" method="post" id="formRolagem">
        <button id="btnRolagem">Rolar dado</button>
    </form>
    
    <form action="/jogador/<%=jogador%>/votacao" method="post" id="formEscolha">
        <button id="btnEscolhas">Escolher ação</button>
    </form>
    
    <% if(typeof mensagem != 'undefined') { %>
        <div class="mensagem">
          <%=mensagem%>
        </div>
        <% } %>
        <div class="mensagemVotacao mensagem"></div> <br>

        <div id="resultadoVoto" style="display: none;">
          <p style="font-weight: bold;" id="textoResultado"></p>
        </div>
</section>
<script src="/assets/js/jogador.js"></script>

<%- include('includes/foot') %>